# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# PyCharm
.idea/

# Environment variables — НИКОГДА не коммитить!
.env

# Poetry
poetry.lock  # можно раскомментировать если не хочешь коммитить lock

# pytest
.pytest_cache/
.coverage
htmlcov/

# Docker
*.log

# OS
.DS_Store
Thumbs.db
